version 5.226.0

framework: netcoreapp5.0

group Main
    storage: none
    source https://api.nuget.org/v3/index.json

    nuget FSharp.Core ~> 4.7

    git https://github.com/fc1943s/Elmish.Bridge.git experiments build: "dotnet tool restore && dotnet paket restore"


group Suigetsu.Bus
    storage: none
    source https://api.nuget.org/v3/index.json

    nuget EasyNetQ ~> 3.8
    nuget FsPickler ~> 5.2
    nuget Pulsar.Client ~> 0.18
    nuget Serilog.Extensions.Logging ~> 3.0 prerelease


group Suigetsu.Core
    storage: none
    source https://api.nuget.org/v3/index.json

    nuget Destructurama.FSharp ~> 1.1 prerelease
    nuget JetBrains.Annotations ~> 2019.1
    nuget Serilog ~> 2.9 prerelease
    nuget Serilog.Sinks.Console ~> 4.0 prerelease

    nuget FSharp.Control.AsyncSeq ~> 2.0
    nuget FSharpPlus ~> 1.1.0


group Suigetsu.CoreCLR
    storage: none
    source https://api.nuget.org/v3/index.json

    nuget Newtonsoft.Json ~> 12.0
    nuget Microsoft.Extensions.FileProviders.Physical ~> 3.1
    nuget Argu ~> 6.0


group Suigetsu.Testing
    storage: none
    source https://api.nuget.org/v3/index.json

    nuget Expecto ~> 9.0


group Suigetsu.UI.Backend.ElmishBridge
    storage: none
    source https://api.nuget.org/v3/index.json

    nuget Giraffe.SerilogExtensions ~> 1.3


group Suigetsu.UI.Frontend.ElmishBridge
    storage: none
    source https://api.nuget.org/v3/index.json

    nuget Fable.Elmish.HMR ~> 4.0
    nuget Fable.Elmish.React ~> 3.0


group Suigetsu.UI.Frontend.React
    storage: none
    source https://api.nuget.org/v3/index.json

    nuget Feliz ~> 1.5
